.addForm {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 401px;
    width: 100%;
    min-height: 600px;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.82);
}

.form__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 170px;
    max-width: 401px;
    width: 90%;
    height: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 15px;
}

.addForm .form__background svg{
    color: #E53170;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
    margin-right: 30px;
}

.addForm .form__background button {
    margin-top: 10px;
}
.addForm .form__background input {
    width: 90%;
    margin: 0 auto;
}

.icon_form {
    align-self: flex-end;
    margin-bottom: 40px;
    margin-right: 10px;
}

.icon_form svg{
    color: #E53170;
    width: 70px;
    height: 70px;
}